.task {
  display: flex;
  padding: 1rem 0 0.5rem;
  flex-direction: column;
  border-bottom: 1px solid #777;
}

.task-info {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.task-description {
  margin: 5px 0 0 0;
  color: darkgoldenrod;
}

.task-title {
  font-size: 1.5rem;
}

.task-date {
  font-size: 1rem;
  line-height: 1.5rem;
}

.priority-circle {
  height: 20px;
  width: 20px;
  margin-right: 1.5rem;
  border-radius: 50%;
}

.priority-circle.high {
  background: #ffcccc;
  border: 1px solid #980000;
}

.priority-circle.medium {
  background: #ffd580;
  border: 1px solid orange;
}

.priority-circle.low {
  border: 1px solid green;
  background: lightgreen;
}

.task-top-half {
  display: flex;
  align-items: center;
}

.task-close {
  background-color: var(--secondary-color);
  border: none;
  padding: 5px 7px;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
}

.close-btn-wrapper {
  display: flex;
  flex-direction: column;
}
