.project-header {
  display: flex;
  justify-content: space-between;
  font-weight: normal;
  border-bottom: 1px solid var(--primary-color);
  font-size: 1.25rem;
}

.add-project-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
