.sidebar-projectName {
  display: flex;
  width: 100%;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  position: relative;
}

.sidebar-projectName > p {
  margin: 0;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.right-carat {
  position: absolute;
  left: -1rem;
  height: 12px;
}

.task-amount {
  margin-left: 10px;
  color: lightgrey;
  font-size: 1rem;
  line-height: 1rem;
}
