:root {
  --primary-color: #2f3337;
  --secondary-color: #cc9543;
  --text-color-on-primary: white;
}

body {
  height: 100%;
}

main {
  height: calc(100% - 7vh);
  display: flex;
}

html {
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

input[type="text"] {
  padding: 15px;
  border-radius: 5px;
}

input:invalid {
  border: 1px solid red;
}

.text-center {
  text-align: center;
}

.todo-header {
  height: 7vh;
  background-color: var(--primary-color);
  color: var(--text-color-on-primary);
  line-height: 7vh;
  font-size: 2rem;
  padding: 0 2rem;
}

.todo-logo {
  object-fit: cover;
  width: 40px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.todo-sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 300px;
  padding: 2rem;
  background: var(--secondary-color);
  border-right: 1px solid lightgrey;
  flex: 0 1 30%;
}

.sidebar-buttons-wrapper {
  display: flex;
  flex-direction: column;
}

.sidebar-button {
  padding: 10px 0;
  margin: 0.5rem 0;
  font-size: 1.2rem;
  background: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
}

.sidebar-button:focus {
  font-weight: bold;
}

.sidebar-button:focus {
  outline: 2px solid var(--primary-color);
}

.project-header {
  display: flex;
  justify-content: space-between;
  font-weight: normal;
  border-bottom: 1px solid var(--primary-color);
  font-size: 1.25rem;
}

.close-form-btn {
  background: transparent;
  position: absolute;
  right: 2rem;
  border: none;
  padding: 0;
  font-size: 2rem;
  top: 1rem;
  color: var(--primary-color);
  cursor: pointer;
}
