:root {
  --primary-color: #2f3337;
  --secondary-color: #cc9543;
  --text-color-on-primary: white;
}

body {
  height: 100%;
}

main {
  height: calc(100% - 7vh);
}

html {
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
